@import "tailwindcss";

@theme {
  --color-black: #0a0a0a;
  --color-card: #141414;
  --color-gold: #c6a47e;
  --color-gold-light: #e2c5a3;
  --color-gold-dark: #a3825f;
}

body {
  background-color: var(--color-black);
  color: white;
  font-family: var(--font-cairo-main), sans-serif;
}

.english-bodoni {
  font-family: var(--font-bodoni-moda), serif !important;
  font-optical-sizing: auto;
}